.screen-header {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 25px;
  padding: 30px var(--horizontal-space);
  width: 100%;
  box-sizing: border-box;
  background-color: indianred;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600; /*통통하게*/
}

.screen-header__icons button {
  margin-left: 10px;
}
